@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 855px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
}

.container .cl1 {
  top: 0;
  left: 50px;
}

.container .cl2 {
  top: 100px;
  left: 100px;
}

.container .cl3 {
  top: 100px;
  left: 0;
}

.additive,
.subtractive {
  margin: auto;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}

.cl {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
}

.container1 {
  background: #000;
}

.container1 .cl1 {
  background: #FF0000;
  mix-blend-mode: screen;
}

.container1 .cl2 {
  background: #00FF00;
  mix-blend-mode: screen;
}

.container1 .cl3 {
  background: #0000FF;
  mix-blend-mode: screen;
}

/*.container2 {
  background: #fff;
}
.container2 .cl1 {
  background: #00FFFF;
  mix-blend-mode: multiply;
}
.container2 .cl2 {
  background: #FF00FF;
  mix-blend-mode: multiply;
}
.container2 .cl3 {
  background: #FFFF00;
  mix-blend-mode: multiply;
}

.text {
  position: absolute;
  top: 40px;
  left: 80px;
}
.text p {
  font-family: "Montserrat";
  font-size: 1.6em;
  font-style: italic;
}

.container1 p {
  color: #fff;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
